<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>图像分类</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="wrap">
        <div class="left">
            <div class="nav cf">
                <div class="nav-goback">
                    <a href="index.html">返回上一级</a>
                    <span class="separator">|</span>
                    <a href="index.html">全部文件</a>
                    <span class="separator">&gt;</span>
                    <span>Father Dir 1</span>
                </div>
                <div class="nav-btns local-btns">
                    <span class="list local-list"></span>
                    <span class="thumbnail local-thumbnail active"></span>
                </div>
            </div>
            <div class="content local-content"></div>
        </div>
        <div class="center"></div>
        <div class="right">
            <div class="nav cf">
                <span>图片分类</span>
                <div class="nav-btns img-btns">
                    <span class="list img-list"></span>
                    <span class="thumbnail img-thumbnail active"></span>
                </div>
            </div>
            <div class="content img-content"></div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>